# Binaries
/bin/
./bin/
*.exe
*.dll
*.so
*.dylib

# Temporary build files
tmp/

# Build output
/vendor/

# IDE
.vscode/
.idea/

# Go
*.test
/pkg/mod/

# Configuration
.env
.air.toml

# Docker secrets
docker/secrets/*.txt

# CSS
web/static/css/output.css
